<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qr generate</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div id="api-btn-container">
        <button id="api-description"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24"/><g><polygon points="17.77,3.77 16,2 6,12 16,22 17.77,20.23 9.54,12"/></g></svg> API <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"/></g></svg></button>
    </div>
    <div id="main-box">
        <div>
            <h3 class="font-style">Create Your Own Custom QR Code</h3>
        </div>
        <div id="main-c-two">
            <input type="text" name="urlBox" id="url-box" placeholder="ex: https://www.example.com">
            <button type="submit" id="url-submit-btn">Create</button>
        </div>
        <div id="main-c-three">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
