<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qr generate</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div id="main-box">
        <div>
            <h3 class="font-style">Create Your Own Custom QR Code</h3>
        </div>
        <div id="main-c-two">
            <input type="text" name="urlBox" id="url-box" placeholder="ex: https://www.example.com">
            <button type="submit" id="url-submit-btn">Create</button>
        </div>
        <div id="main-c-three">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>