#main-box {
	/* border: 1px solid; */
	width: 90%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	padding: 5% 5% 0% 5%;
	/* justify-content: center; */
	align-items: center;
}

.font-style {
	font-size: 4rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#url-box {
	width: 25rem;
	height: 2rem;
	border-radius: 7px;
	padding-left: 2%;
	border: 2px solid;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #fbfbfb;
}

#main-c-two {
	display: flex;
	gap: 1rem;
}

#main-c-two button {
	border-radius: 7px;
	padding: 2%;
	background-color: black;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d4f6ff;
	position: relative;
}

#main-c-three {
	/* border: 2px solid; */
	height: 15rem;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding-right: 3%;
}

#main-c-three #child-one {
	border: 2px solid #d80073;
	width: 15rem;
	height: 15rem;
	border-radius: 5px;
	margin-right: 10%;
}

#main-c-three button {
	padding: 1% 2%;
	color: white;
	letter-spacing: 1px;
	background-color: #6d8764;
	border: none;
	border-radius: 5px;
	margin-right: 10%;
}

#main-c-three a {
	display: none;
}

#child-one img {
	width: 100%;
}

#api-btn-container {
	align-self: self-end;
	margin: 1% 1% 0 0;
}

#api-btn-container button {
	display: flex;
	align-items: center;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	padding: 5% 2px 5% 2px;
	background-color: #317b8f;
	color: white;
	box-shadow: 3px 3px 1px black;
}

svg polygon {
	fill: white;
}

#api-div-box{
	border: 2px solid black;
  padding: 1% 2% 0 2%;
  font-size: 20px;
  position: absolute;
  top: 1%;
  display: none;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #D9D9D9;
  font-weight: lighter;
}


@media screen and (max-width: 641px) {
	#main-box {
		padding: 10%;
	}

	.font-style {
		font-size: 19px;
	}

	#main-c-two {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	#url-box {
		width: 19rem;
	}

	#main-c-two button {
		width: 50%;
		margin: auto auto;
	}

	#main-c-three {
		margin-top: 23%;
	}

	#main-c-three #child-one {
		margin-right: 0%;
	}

	#main-c-three button {
		margin-right: 0%;
	}

	#api-btn-container{
		display: none;
	}
}
